*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    grid-template-rows: 150px 70px 90px 50px;
    grid-template-columns: 50px 130px 120px 100px;
    justify-content: center;
}

.container div{
    border: 1px solid black;
}

.col-1, .col-2, .col-3, .col-4{
    grid-column: span 2;
}

.col-5, .col-6, .col-9{
    grid-row: span 2;
}

.col-8{
    grid-area: 4/3;
}
