body{
    margin: 0;
}

.cell{
    border: 1px solid black;
    box-sizing: border-box;
}

.h-1{
    height: 50px;
}
.h-2{
    height: 100px;
}
.h-3{
    height: 150px;
}
.h-4{
    height: 200px;
}
.h-5{
    height: 250px;
}
.h-6{
    height: 300px;
}

.w-1{
    width: 50px;
}
.w-2{
    width: 100px;
}
.w-3{
    width: 150px;
}
.w-4{
    width: 200px;
}
.w-5{
    width: 250px;
}
.w-6{
    width: 300px;
}

.f-left{
    float: left;
}

.clear-both{
    clear: both;
}