*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1172px;
    margin: auto;
    font-family: 'Roboto';
    margin-top: 150px;
    margin-bottom: 50px;
}


/*practice-1 section start*/
.container figure{
    margin-bottom: 47px;
}

.container figure .img-container{
    width: 1170px;
    height: 800px;
    background: #ECF0F1;
}

.container .header h3{
    font-size: 36px;
    line-height: 36px;
    color: #2C3E50;
    margin-bottom: 8px;
}

.container .header p{
    font-size: 14px;
    line-height: 36px;
    color: #A1B1BC;
    word-spacing: 1.3px;
    letter-spacing: -0.1px;
}

.container .header p span::after{
    content: '';
    height: 12px;
    width: 1px;
    background: #EBEBEB;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    margin-left: 6px;
}

.container .header p span:last-child::after{
    display: none;
}

.container .header::after{
    content: '';
    height: 1px;
    background: #ECF0F1;
    display: block;
    margin-bottom: 24px;
    margin-top: 19px;
}

.container .text > p{
    font-size: 14px;
    line-height: 23px;
    color: #A1B1BC;
}

.container .text p:first-child{
    margin-bottom: 38px;
    word-spacing: 0.8px;
    letter-spacing: -0.1px;
}

.container .text .ads{
    border: 1px solid #ECF0F1;
    border-left: 10px solid #21C2F8;
    margin-left: 30px;
    margin-bottom: 28px;
    padding-bottom: 35px;
    padding-top: 41px;
}

.container .text .ads h4{
    font-size: 24px;
    line-height: 24px;
    color: #A1B1BC;
    margin-left: 60px;
    margin-bottom: 11px;
}
.container .text .ads p{
    font-size: 16px;
    line-height: 26px;
    color: #A1B1BC;
    margin-left: 60px;
    margin-right: 200px;
}

.container .text h3{
    font-size: 30px;
    line-height: 30px;
    color: #34495E;
    margin-bottom: 14px;
}

.container .text .fox{
    margin-bottom: 40px;
    word-spacing: 0.8px;
    letter-spacing: -0.1px;
}

.container .text .fox::first-letter{
    display: block;
    color: #21C2F8;
    background: #34495E;
    padding: 8px 13px;
    float: left;
    font-size: 30px;
    margin-top: 7px;
    margin-right: 4px;
}
/*practice-1 section end*/

/*practice-2 section start*/
.p2-container{
    width: 1172px;
    margin: auto;
    font-family: 'Roboto';
    margin-top: 150px;
    margin-bottom: 50px;
}

.p2-container header h3{
    font-size: 30px;
    line-height: 30px;
    color: #34495E;
    letter-spacing: -0.3px;
    margin-bottom: 13px;
}

.p2-container header h3 span{
    color: #1ABC9C;
}

.p2-container header p{
    font-size: 14px;
    line-height: 23px;
    color: #A1B1BC;
    margin-bottom: 19px;
}

.p2-container header .list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}

.p2-container header .list ul{
    list-style: none;
    font-size: 14px;
    line-height: 30px;
    color: #A1B1BC;
    width: 372px;
}

.p2-container header .list ul:nth-child(odd) li::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #34495E;
    border-radius: 1px;
    margin-right: 20px;
    position: relative;
    left: 1px;
    top: 5px;
}

.p2-container header .list ul:nth-child(even) li::before{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px #A1B1BC solid;
    border-radius: 1px;
    margin-right: 20px;
    position: relative;
    left: 1px;
    top: 5px;
}

.p2-container main h3{
    font-size: 30px;
    line-height: 30px;
    color: #34495E;
    letter-spacing: -0.3px;
    margin-bottom: 13px;
}

.p2-container main  p{
    font-size: 14px;
    line-height: 23px;
    color: #A1B1BC;
}

.p2-container main .css{
    background: #ECF0F1;
    color: #A1B1BC;
    font-size: 14px;
    line-height: 24px;
    margin-top: 5px;
    font-family: Arial,sans-serif;
    height: 190px;
    white-space: pre;
    padding-left: 2px;
    margin-bottom: 24px;
}

.p2-container main .img-section{
    margin-top: 26px;
    margin-bottom: 48px;
}

.p2-container main .img-section .img-container{
    width: 370px;
    height: 400px;
    background: #ECF0F1;
    float: left;
    margin-right: 31px;
    margin-top: 3px;
}

.p2-container main .img-section .img-section-text{
    margin-top: -3px;
    margin-bottom: 26px;
}

.p2-container main .img-section p:last-child{
    margin-bottom: 0;
}

.p2-container footer {
    clear: both;
}

.p2-container .tags-container{
    border: #ECF0F1 1px solid;
    height: 52px;
    margin-bottom: 50px;
}

.p2-container footer .tags-container .icon{
    width: 50px;
    height: 50px;
    background: #34495E;
    display: inline-block;
    font-size: 31px;
    line-height: 38px;
    color: white;
    padding-left: 13px;
    padding-top: 5px;
    float: left;
}

.p2-container footer .tags-container a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #A1B1BC;
}

.p2-container footer .tags{
    font-size: 14px;
    line-height: 20px;
    color: #A1B1BC;
    display: inline-block;
    padding-left: 21px;
    padding-top: 15px;
    letter-spacing: 0.3px;
}

.p2-container footer .tags a:hover{
    color: #1ABC9C;
    text-decoration: underline;
}

.p2-container footer .reply-container{
    clear: both;
    background: #ECF0F1;
    height: 159px;
}

.p2-container footer .reply-container .reply{
    margin-left: 29px;
    padding-top: 26px;
}

.p2-container footer .reply .avatar{
    width: 105px;
    height: 105px;
    background: #A1B1BC;
    border: #FFFFFF 3px solid;
    border-radius: 3px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    float: left;
    margin-right: 29px;
}

.p2-container footer .reply .content .user{
    font-size: 18px;
    line-height: 24px;
    color: #2C3E50;
    font-weight: 900;
    margin-bottom: 2px;
}

.p2-container footer .reply .content .tag{
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
    font-weight: 100;
    margin-bottom: 9px;
}

.p2-container footer .reply .content .comment-text{
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
    font-style: italic;
}

/*practice-2 section end*/

/*practice-3 section start*/

.p3-container{
    width: 1172px;
    margin: auto;
    font-family: 'Roboto';
    margin-top: 150px;
    margin-bottom: 50px;
}

.p3-container header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.p3-container header p:first-child{
    font-size: 30px;
    line-height: 20px;
    color: #2C3E50;
    display: inline-block;
}

.p3-container header p:last-child{
    font-size: 16px;
    line-height: 20px;
    color: #A1B1BC;
    display: inline-block;
}

.p3-container .comment-container{
    border : 1px solid #ECF0F1;
    padding-bottom: 23px;
    margin-bottom: 24px;
}

.p3-container .comment-container .btn{
    width: 60px;
    height: 24px;
    background: #2C3E50;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: -0.3px;
    margin-right: 31px;
    margin-top: 2px;
}

.p3-container .comment .flex{
    display: flex;
    flex-direction: column;
}


.p3-container main .reply-container .comment{
    margin-left: 29px;
    padding-top: 26px;
}

.p3-container main .comment-header{
    padding-top: 29px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -4px;
}

.p3-container main .comment .avatar{
    width: 74px;
    height: 74px;
    background: #A1B1BC;
    border: #FFFFFF 3px solid;
    border-radius: 3px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    float: left;
    margin-left: 32px;
    margin-top: 32px;
    margin-right: 32px;
}

.p3-container main .comment .content .user{
    font-size: 18px;
    line-height: 24px;
    color: #2C3E50;
    font-weight: 900;
    margin-bottom: 2px;
}

.p3-container main .comment .content .tag{
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
    font-weight: 100;
    margin-bottom: 9px;
    letter-spacing: -0.3px;
}

.p3-container main .comment .content .comment-text{
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
    font-style: italic;
    display: inline-block;
    width: 1016px;
}

.p3-container .comment-reply{
    margin-left: 50px;
    margin-bottom: 21px;
}

.p3-container .comment-reply .comment .avatar{
    margin-left: 50px;
    margin-top: 31px;
}

.p3-container main .comment-reply .content .comment-text{
    width: 960px;
}

.p3-container .comment-container .btn:hover{
    background: #A1B1BC;
}

.p3-container main{
    margin-bottom: 79px;
}

.p3-container footer h3{
    font-size: 30px;
    line-height: 20px;
    color: #2C3E50;
    word-spacing: -1.9px;
    margin-bottom: 49px;
}

.p3-container footer .input{
    display: inline-block;
}
.p3-container footer .flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.p3-container footer div input::placeholder{
    color:#A1B1BC;
    padding-left: 19px;
    letter-spacing: 0.1px;
    /*font-family: 'Roboto';*/
}

.p3-container footer div.input:nth-child(odd) input{
    width: 370px;
    height: 50px;
    background: #F7F8F9;
    border: 1px solid #ECF0F1;
    border-radius: 3px;
}

.p3-container footer div.input:nth-child(even) input{
    width: 370px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #ECF0F1;
    border-radius: 3px;
}

.p3-container footer textarea{
    width: 100%;
    height: 300px;
    background: #F7F8F9;
    border: 1px solid #ECF0F1;
    border-radius: 3px;
    margin-bottom: 16px;
}

.p3-container footer .submit input{
    width: 190px;
    height: 50px;
    background: #2C3E50;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    font-weight: 900;
    letter-spacing: 0.6px;
    word-spacing: 6px;
}

