.wrapper{
    width: 960px;
    margin: auto;
}

.row-1 .cell{
    width: 220px;
    height: 220px;
}

.row-2 .cell{
    width: 100px;
    height: 100px;
}

.row-3 div:first-of-type{
    width: 700px;
    height: 220px;
}

.row-3 div:last-of-type{
    width: 220px;
    height: 220px;
}

.row-4 div:first-of-type{
    width: 220px;
    height: 220px;
}

.row-4 div:last-of-type{
    width: 700px;
    height: 220px;
}

.row-5 .cell{
    width: 460px;
    height: 220px;
}

.row-1, .row-2, .row-3, .row-4, .row-5{
    margin:0 0 20px 0;
    justify-content: space-between;
}

.row-1{
    margin-top: 20px;
}

.row-5{
    margin-bottom: 0;
}

.d-flex{
    display: flex;
}

.fdr-column{
    flex-direction: column;
}

.fdr-row{
    flex-direction: row;
}

.cell{
    background: gray;
}

